/*Insertion de la police, ne pas modifier*/
@font-face 
{
    font-family: 'arKkos';
    src: url('../font/arkkos_gmimi-webfont.woff2') format('woff2'),
         url('../font/arkkos_gmimi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*
{
  background-color: black;
  color: white;
  font-family: 'arkKos';
}

body
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "tools grid-container";
  height: 95vh;
}

.tools
{
  grid-area: tools;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-container
{
  grid-area: grid-container;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grille {
  display: grid;
  border: solid white;
}

.case {
  position: relative;
  border: solid white;
}
#exit {
  position: relative ;
  left : -46%;
  top : -8%;
  color : gray;
  font-size : 20px;
}
#boutonesc{
    background-color: white;
    font-size: 15px;
    color: black;
}