/*Insertion de la police, ne pas modifier*/
@font-face {
  font-family: 'arKkos';
  src: url('../font/arkkos_gmimi-webfont.woff2') format('woff2'),
       url('../font/arkkos_gmimi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
 
*{
  font-family: 'arKkos';
  font-size: 30px;
}
body /* règle la taille du texte */
{
  background-color: black;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-flow: column;
  gap: 25%;
  justify-content: center;
  width: 100%;
}
.container{
  text-align: center;
}
.container2{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10%;
}
#exit {
  position: relative ;
  left : 0%;
  top : -30%;
  color : gray;
  font-size : 20px;
}
#boutonesc {
  font-size: 15px;
}
#new{
  color : white;
  font-size: 35px;
  position: relative
}
#iduser{
  color : white;
}
#idmail{
  color : white;
}
#idmdp{
  color : white;
}
#idmdp2{
  color : white;
}
.username ,.email,.mdp,.mdp2{
  border-radius: 20px;
  background-color: black;
  color: blue;
  margin: 10px 10px 10px 10px;
}
.username{
  max-width: 15%;
}
.mdp, .mdp2{
  max-width: 40%;
}
.connexion{
  background-color: black;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  color : greenyellow;
}
.oublie, .pasnoob{
  color: white;
}