/*Insertion de la police, ne pas modifier*/
@font-face 
{
    font-family: 'arKkos';
    src: url('../font/arkkos_gmimi-webfont.woff2') format('woff2'),
         url('../font/arkkos_gmimi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*
{
  color: white;
  font-size: 30px;
  font-family: 'arkKos';
}

body 
{
    /* on place le background-color dans body pour éviter d'interférer avec l'image du joueur */
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "."
                         "timer"
                         "grid-container"
                         "status"
                         ".";
    height: 95vh;
}

.grid-container
{
  grid-area: grid-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grille {
    display: grid;
  }
  
.case {
    position: relative;
}

.point {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.joueur{
    width: auto;
}

a{
    text-decoration: none;
    color: white;
}

#timer{
  grid-area: timer;
  text-align: center;
}

.status{
    grid-area: status;
    text-align: center;
}

#find_element
{
  text-align: center;
}

#dialog{
  background-color: black;
  border: solid white;
  position: absolute;
  max-width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 2%;
  display: none;
}

#dialog > button{
  border: none;
  background-color: black;
}